@use "../../../styles" as *;
.footer {
  background-color: $cor-primaria;
  color: #eee;
  padding: 40px 16px 20px;

  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;

    > div {
      flex: 1 1 250px;
    }

    .footer-logos {
      display: flex;
      gap: 16px;

      img {
        max-height: 50px;
        object-fit: contain;
        // filter: brightness(0) invert(1);
      }
    }

    .footer-contact, .footer-address {
      h3 {
        margin-bottom: 8px;
        font-size: 1.1rem;
        color: #fff;
      }

      a {
        color: #ddd;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        margin: 4px 0;
        font-size: 0.95rem;
      }
    }
  }

  .footer-bottom {
    text-align: center;
    font-size: 0.85rem;
    color: #bbb;
    border-top: 1px solid #444;
    padding-top: 12px;
  }
}