<footer class="footer">
  <div class="footer-top">
    <div class="footer-logos">
      <img src="assets/logos/educaTV-logo.png" alt="Empresa 1" />
      <!-- <img src="assets/logos/osuwela-logo.png" alt="Empresa 2" /> -->
    </div>

    <div class="footer-contact">
      <h3>Contacto</h3>
      <p>Email: <a href="mailto:info@exemplo.com">info&#64;educatv.edu.mz</a></p>
    </div>

    <div class="footer-address">
      <h3>EducaTV é uma marca registada da Osuwela</h3>
    </div>

    <div class="footer-logos">
      <!-- <img src="assets/logos/educaTV-logo.png" alt="Empresa 1" /> -->
      <img src="assets/logos/osuwela-logo.png" alt="Empresa 2" />
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} EducaTV. Todos os direitos reservados.</p>
    
  </div>
</footer>
