<footer>

    <div class="logo-area">
    
        <div>
          <img class="logo" src="assets/imagens/educaTV-logo.png" alt="logo">
        </div>
        <div>

          <img src="logo" src="assets/imagens/osuwela-logo.png" alt="">
        </div>
      
    </div>
    <div class="info">
      <div class="info-items contact">
        <p><strong>Email:</strong> contatoeducatv.com.br</p>
        <p><strong>Telefone:</strong> (21) 1234–5678</p>
      </div>
      <a class="info-items materiais videos" routerLink="/video-aulas"> Assistir aulas</a>
      <a class="info-items materiais livros" routerLink="/livros">Livros</a>
      <div class="blog info-items">
        <h2>Nosso Blog</h2>
        <a routerLink="/">Mulheres na ciencia</a>
      </div>
  
      <div class="address info-items">
        <p><strong>Contacto:</strong> </p>
        <p>Cidade de Maputo</p>
        <p>📍 Rua da Educação, 123</p>
      </div>
    </div>

    
  <div class="rights">
    <hr>
    <p>© 2025 EducaTV. Todos os direitos reservados</p>
  </div>
</footer>