@use "../../../styles" as *;

.footer {
  background-color: $cor-primaria;
  color: #eee;
  padding: 40px 16px 20px;

  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;

    > div {
      flex: 1 1 250px;
    }

    .footer-logos {
      display: flex;
      gap: 24px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;

      img {
        max-height: 73px;
        max-width: 300px;
        object-fit: contain;
        transition: transform 0.3s ease, filter 0.3s ease;
        // filter: grayscale(100%);
        cursor: pointer;

       

        &:hover {
          filter: grayscale(0%);
          transform: scale(1.1);
        }
      }
    }

    .footer-contact,
    .footer-address {
      h3 {
        margin-bottom: 8px;
        font-size: 1.1rem;
        color: #fff;
      }

      a {
        color: #ddd;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        margin: 4px 0;
        font-size: 0.95rem;
      }
    }
  }

  .footer-bottom {
    text-align: center;
    font-size: 0.85rem;
    color: #bbb;
    border-top: 1px solid #444;
    padding-top: 12px;
  }
}
