<header [class.hide]="isHeaderHidden" class="header">
  
        <img class="logo" src="assets/imagens/educaTV-logo.png" alt="logo">
  
    <!-- Menu para desktop -->
    <nav class="menu desktop">
        <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="/sobre" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Sobre</a>
        <a routerLink="/video-aulas" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Vídeo Aulas</a>
        <a routerLink="/livros" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Livros</a>
        <a routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog</a>
    </nav>
  
    <!-- Botão mobile (aparece somente em telas pequenas) -->
    <button class="menu-button mobile" (click)="toggleMobileMenu()">☰</button>
  </header>
  
  <!-- Menu mobile sempre renderizado para permitir animação -->
  <nav class="menu-mobile" [class.open]="isMobileMenuOpen">
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">Home</a>
    <a routerLink="/sobre" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">Sobre</a>
    <a routerLink="/video-aulas" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">Vídeo Aulas</a>
    <a routerLink="/livros" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">Livros</a>
    <a routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">Blog</a>
  </nav>
  