<div class="educa-container">
    <section class="sobre">
      <div class="slider">
        <app-slider ></app-slider>
      </div>
      <div class="sobre-text-area">
        <h2>EducaTV</h2>
        <p>
          A EducaTV é um projecto criado para te ajudar a estudar por conta própria, no teu tempo e ao teu ritmo. As aulas são claras e sucintas, alinhadas com o currículo de cada disciplina. E os manuais ajudam-te a exercitar a matéria e avaliar os teus conhecimentos.<a routerLink="/sobre">Ler mais >></a>
        </p>
      </div>
      
    </section>
    
    <section class="materiais">
      <section class="material-didatico video-aulas">
        <h3>Vídeo Aulas</h3>
        <h4>Aprende ao teu ritmo. Revê as aulas, resolve os exercícios</h4>
        <p>As disciplinas de Ciências ficam mais fáceis quando podes ver e rever a matéria, ao teu ritmo, as vezes que precisares. Tens conceitos, explicações, aplicações, exercícios e resoluções, e uma componente de auto-avaliação, que te vai ajudar a perceber o teu progresso.
        </p>
        <img src="assets/imagens/video aulas_transparente.png" alt="">

          <!-- <div class="aula">📘 1º Classe a 12 classe</div> -->
          <a routerLink="/video-aulas" routerLinkActive="active" class="aula">🌍 Assistir aulas</a>
      </section>
    
      <section class="material-didatico manuais">
        <h3>Manuais</h3>
        <h4>Aprofunda os teus conhecimentos e faz a tua auto-avaliação</h4>
        <p>Os manuais da EducaTV relacionam cada vídeo-aula com a respectiva matéria, permitindo aprofundar conhecimentos, praticar através de exercícios e avaliar os conhecimentos adquiridos.
        </p>

        <img src="assets/imagens/manuais_transparente.png" alt="">
   
          <a routerLink="/livros" routerLinkActive="active" class="item">📚 Ver Manuais</a>
          <!-- <div class="item">📘 Lívrára</div> -->
  
      </section>
    </section>
  
    <section class="relacionados">
      <div>
        <h3>Mulheres na ciência</h3>
        <img src="assets/imagens/mulheres_transparente.png" alt="">
        <!-- <a routerLink="/livros" routerLinkActive="active" class="item">📚 Ver Manuais</a> -->
      </div>

      <div>
        <h3>Noticias</h3>
        <img src="assets/imagens/noticias_transparente.png" alt="">
        <!-- <a routerLink="/livros" routerLinkActive="active" class="item">📚 Ver Manuais</a> -->
      </div>
      
    </section>
  
   
  </div>
  