<div class="sobre-container">

    <!-- Sobre -->
    <section class="section sobre">
      <div class="text">
        <h2>Sobre a EducaTV</h2>
        <p>
          A EducaTV é uma iniciativa da Osuwela concebida para apoiar a melhoria da qualidade da Educação. As vídeo-aulas e os manuais disponibilizados pela EducaTV estão alinhados com o currículo de cada disciplina e são produzidos com rigor científico e pedagógico, assegurando qualidade e coerência com os objetivos de aprendizagem definidos pelo Sistema Nacional de Educação.
        </p>
        <p>
          Ao promover o acesso a conteúdos educativos de qualidade, a EducaTV contribui para uma educação mais inclusiva, dinâmica, centrada no aluno e no seu ritmo de aprendizagem.
        </p>
      </div>
      <div class="image">
        <img src="assets/imagens/sobre/sobre-img.png" alt="Sobre EducaTV">
      </div>
    </section>
  
    <!-- Missão -->
    <section class="section missao">
      <div class="text">
        <h2>Quem utiliza a EducaTV</h2>
        <strong>
          <p>
            Os alunos utilizam a EducaTV como uma ferramenta para estudar de forma autónoma e aprofundar os conhecimentos das aulas. Obtêm explicações detalhadas e fazem a auto-avaliação do seu progresso, melhorando assim o seu desempenho escolar.
          </p>
          <br>
          <p>
            A EducaTV representa ainda um instrumento de apoio para professores, que podem utilizar os vídeos e manuais como material de apoio à sua actividade docente ou em tarefas complementares de aprofundamento e trabalhos de casa.
          </p>
          <br>
          <p>
            Também os encarregados de educação podem aproveitar esta plataforma para acompanhar mais de perto as matérias que integra o percurso escolar dos filhos, incentivando os seus hábitos de estudo fora do ambiente escolar.
          </p>
          <br>
          <p>
            A EducaTV é ainda uma importante ferramenta no ensino à distância e na educação em contexto de emergência, bem como na formação de professores.
          </p>
        </strong>
      </div>
    </section>
  
    <!-- Estúdios -->
    <section class="section estudios">
        <h2>Como é feita a EducaTV?</h2>
        <div>
          <p>
            Trabalhamos com uma equipa de professores experiente e comprometida com a qualidade do ensino. Os programas das disciplinas são comprimidos num conjunto de aulas, que abordam toda a matéria, por ano lectivo.
          </p>
          <p>
            Estas aulas são gravadas por um professor da disciplina, e revistas, antes de serem disponibilizadas. Para cada ano lectivo, produzimos ainda um manual de apoio.
          </p>
        </div>
        <div class="slider">
          <app-slider [images]="studioImages"></app-slider>
        </div>
      </section>

      <section class="section missao">
        <div class="text">
          <h2>O que vais encontrar na EducaTV</h2>
          <strong>
            <p>
              Ciências Experimentais – vídeo-aulas de Química e Biologia que abordam umconjunto de experiências previstas no currículo do Ensino Secundário.
            </p>
            <br>
            <p>
              Língua Portuguesa – conteúdos de apoio para a 4ª e 5ª classes, criados para apoiar os alunos durante o Covid-19.
            </p>
            <br>
            <p>
              Matemática - conteúdos de apoio para a 4ª e 5ª classes, criados para apoiar os alunos durante o Covid-19.
            </p>
            <br>
            <p>
              Matemática – toda a matéria da 7ª, 8ª, 9ª e 10ª classes. A 11ª e 12ª estão em curso.
            </p>
          </strong>
        </div>
      </section>
      
  
    <!-- Patrocinadores -->
    <!-- <section class="section patrocinadores">
      <h2>Financiadores</h2>
      <div class="logos">
        <img src="assets/logos/financiadores/support1.png" alt="Financiador 1">
        <img src="assets/logos/financiadores/support2.jpg" alt="Financiador 2">
      </div>
    </section> -->
  
  </div>
  