<div class="container">
    <header>
      <h1>EducaTV - Vídeo Aulas</h1>
    </header>
  
    <!-- Seção de Classes -->
    <section class="section classes-section">
      <h2>Classes</h2>
      <ul class="classes-list">
        <li *ngFor="let classe of classes"
            [class.active]="classe.id === selectedClass?.id"
            (click)="setSelectedClass(classe)">
            {{ classe.name }}
        </li>
      </ul>
    </section>
  
    <hr class="divider" />
  
    <!-- Seção de Disciplinas -->
    <section class="section subjects-section" *ngIf="selectedClass">
      <h2>Disciplinas</h2>
      <ul class="subjects-list">
        <li *ngFor="let subject of selectedClass.subjects"
            [class.active]="subject.id === selectedSubject?.id"
            (click)="setSelectedSubject(subject)">
            {{ subject.name }}
        </li>
      </ul>
    </section>
  
    <hr class="divider" />

    <!-- Player de Vídeo embutido -->
    <section #playerContainer class="player-wrapper video-player" *ngIf="selectedVideoId">
        <h2>Assistindo: {{ selectedVideoTitle }}</h2>
        <app-youtube-player [videoId]="selectedVideoId"></app-youtube-player>
  
    </section>
  
    <!-- Seção de Vídeos -->
    <section class="section videos-section" *ngIf="selectedSubject">
      <h2>Vídeo-aulas de {{ selectedSubject.name }} - {{ selectedClass?.name }}</h2>
    
      <!-- Se não houver vídeos -->
      <div *ngIf="videos.length === 0" class="no-videos">
        <p>Nenhuma vídeo-aula disponível para esta disciplina.</p>
      </div>
    
      <!-- Se houver vídeos -->
      <div class="videos-grid" *ngIf="videos.length > 0">
        <div class="video-card" *ngFor="let video of videos" (click)="playVideo(video.videoId, video.title)">
          <img [src]="video.thumbnailUrl" alt="{{ video.title }}" />
          <h3>{{ video.title }}</h3>
        </div>
      </div>
    </section>
    
  
    <hr class="divider" />
  
    
  </div>
  