/* You can add global styles to this file, and also import other style files */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';



}


html {
    scroll-behavior: smooth;
}
  



  
$cor-primaria: #1976d2;
$cor-primaria: #38434e;
// $cor-primaria: #363434a9;
$cor-amarelo-texto: #d84315